<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179443986872-9dagko9cgo1agpaeeke9ftplok11slob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179443986872-9dagko9cgo1agpaeeke9ftplok11slob</string>
	<key>API_KEY</key>
	<string>AIzaSyCtXG2LW3xVCesDkfwneSw7BZIy91RQVJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>179443986872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daybyday</string>
	<key>PROJECT_ID</key>
	<string>daybyday-d71bd</string>
	<key>STORAGE_BUCKET</key>
	<string>daybyday-d71bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179443986872:ios:348e472b55106ee7b6df4d</string>
</dict>
</plist>